:root{
  --dark-gray: #272727 ;
  --light-gray: #f5f5f5;
  --white: #fff;
  --smooth: all .3s ease-in;
  }


  /* hidden form */
.hidden-form{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 28%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #c3c3c3;
  background-color: var(--white);
  z-index: 3;
  border-radius: 5px;
  padding: 20px;
  transition: var(--smooth);
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  opacity: 0;
}

.hidden-form__close img{
  float: right;
  width: 100%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.hidden-form__back{
  width: 100%;
  font-size: 3rem;
  cursor: pointer;
}

.hidden-form__title{
  display: block;
  z-index: 10;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-bottom: var(--light-gray) 2px solid;
}

.hidden-form__sub-title{
  margin-top: 60px;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
}

.hidden-form button:hover{
  border: #fff solid 2px;
  background-color: #272727;
  color: #fff ;
  transition: var(--smooth);
}

.hidden-form__search-box{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.hidden-form__search-box a{
  justify-content: center;
  display: flex;
  height: 40px;
  width: 40px;
  cursor: pointer;
  align-items: center;
}

.hidden-form__search-box img{
  height: 30px;
  width: 30px;
}


/* login */

.hidden-form__input{
  margin: 20px 0;
}

.hidden-form__input input{
  margin: 12px auto;
}

.hidden-form__more{
  text-align: center;
  font-size: 1.3rem;  
}



.hidden-form__input--radio{
  width: 100%;
  display: inline;
  justify-content: start;
  width: auto;
}

.hidden-form__input--radio label{
  align-self: center;
  font-size: 1.5rem;
}

.hidden-form__input--radio input{
  cursor: pointer;
  margin-left: 20px;
  height: 14px;
  width: 14px;
}

.hidden-form__cart-list{
  display: flex;
  flex-direction: column;
  height: 86%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.cart-list__img{
  height: 100px;
  width: 100px;
}

.cart-list__title{
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.hidden-form__footer{
  border-top: var(--light-gray) 2px solid;
  display: flex;
  flex-direction: column;
}

.hidden-form__footer--total{
  margin: 10px 20px 0px 20px;
  font-size: 1.8rem;
}

.hidden-form__footer--total span{
  float: right;
}


/* header */
.header{
  height: 100px;
  margin-top: 14px;
  align-items: center;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
}

ul{
  list-style: none;
}

.header--left img{
  height: 80px;
  width: 80px;
  cursor: pointer;
  transition: var(--smooth);
}

.header--left a{
  text-decoration: none;
}

.header--left a:hover > img{
  transform: translateY(-6%);
  opacity: 0.6;
  transition: var(--smooth);
}

.header--left span{
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 70px;
  color: var(#272727);
  transition: var(--smooth);
}

.header--left a:hover > span{
  transform: translateY(-10%);
  opacity: 0.6;
  transition: var(--smooth);
}



/* .header--left, a:link, a:visited {
  color: #272727;
  cursor: pointer;
}

.header--left,a:link:active, a:visited:active {
  color: (internal value);
} */

.header--right img{
  height: 30px;
  width: 30px;
  transition: var(--smooth);

}

.header--right a{
  margin: 13px;
  cursor: pointer;
  box-sizing: padding-box;
}

.header--right a:hover > img{
  opacity: 0.5;
  transform: translateY(-10%);
  transition: var(--smooth);
}

/* nav-bar */

.desk-menu{
  height: 40px;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  border-radius: 1px;
  border-bottom: 1.5px solid var(--light-gray);
}

.product-selections a{
  text-decoration: none;
  display: inline;
  cursor: pointer;
  font-size: 2rem;
  margin: 10px 16px;
  color: #272727;
  transition: all .1s ease-in;
}

.product-selections a:hover{
  border-bottom: #272727 solid 2.5px;
  transition: all .1s ease-in;
}

/* banner */

.banner{
  display: flex;
  padding: 50px 50px;
  justify-content: center;
}

.banner img{
border-radius: 15px;
}

/* products container */

.container{
  padding: 10px 68px;
}

h1{
  margin-bottom: 60px;
  font-size: 3.2rem;
  text-align: center;
}

.products{
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.products__item{
  max-width: 25%;
  height: 450px;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  box-sizing: content-box;
  margin: 5px;
  border-radius: 10px;
  transition: var(--smooth);
}

.products__item img:hover{
  transition: var(--smooth);
  opacity: 0.5;
}

/* sale products container */

.products__item--sale{
  margin-left: 15px;
  width: 30%;
  color: #f94c43;
  font-size: 1.5rem;
  position: relative;
  padding: 2px;
  border: solid #f94c43 2px;
  border-radius: 10px;
}

.products__item img{
  height: 300px;
  width: 270px;
}

.products__item p{
  font-size: 1.5rem;
}

.old-price{
  text-decoration: line-through;
  color: #939393;
}
.products__item .price{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  box-sizing: border-box;
}

.new-price{
  color: #f94c43;
}

.products__item button{
  justify-content: end;
  font-size: 1rem;
  height: 36px;
  width: 90px;
  background-color: transparent;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  transition: var(--smooth);
} 

.products__item button:hover{
  background-color: #f1f1f1;
  transition: var(--smooth);
}

.container-sale{
  margin-top: 60px;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* footer */
.footer{
  height: 350px;
  margin: 50px 68px;
  border-top: var(--light-gray) 2px solid;
  display: flex;
  padding:10px;
  justify-content: space-around;
}

.footer__item{
  width: 25%;
  margin-top: 50px;
  justify-items: left;
}

.footer__item p{
  font-size: 2rem;
}

.footer__item a{
  font-size: 1.4rem;
}

.footer ul{
  list-style-type: '- ';
  font-size: 1.2rem;
  padding-left: 20px;
}

.footer img{
  height: 55px;
  width: 152px;
}

.footer .media-button{
  margin: 10px;
  height: 50px;
  text-decoration: none;
  width: 50px;
  font-weight: 700;
  font-size: 3.5rem;
  color: white;
  background-color: black;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid 5px black;
  cursor: pointer;
  margin: 10px 0;
  margin-left: 70px;
  transition: var(--smooth);
}

.footer .media-button:hover{
  border: solid 2px #555;
  background-color: white;
  color: black;
  transition: var(--smooth);
}


.hidden-form__more a{
  color: blue;
}

.hidden-form__sitebox-recaptcha{
  font-size: 1.2rem;
}

.hidden-form__sitebox-recaptcha a{
  color: blue;
  text-decoration: none;
}


/* all products */
.milk-list{
  display: flex;
  justify-content: space-between;
}

.milk-list__item{
  cursor: pointer;
  font-size: 2rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  transition: var(--smooth);
}

.milk-list__item a{
  margin: 10px auto;
  transition: var(--smooth);
}

.milk-list__item img{
  height: 80px;
  width: 80px;
  margin: 0 auto;
  transition: var(--smooth);
}

.milk-list__item:hover > a{
  transform: translateY(-50%);
  opacity: 0.6;
  transition: var(--smooth);
}

.milk-list__item:hover > img{
  transform: translateY(-20%);
  opacity: 0.6;
  transition: var(--smooth);
}
